body{
    width:100%;
    margin:0 auto;
    font-size:14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

a{
    color:#777777;
    text-decoration:none;
}

